{% extends"upper.html" %}{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<main class="mb-4">
    <div class="container">
      <div class="row">
        <!-- Adding Flash message here for users trying to register twice -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-lg-8 col-md-10 mx-auto">
          <!--Rendering login form here-->
          {{render_form(loginform, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}  
  

